@import "../../variables";

.service {
  text-align: center;
  background: $gray-color;

  .service_tags {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;

    & > div {
      display: grid;
      grid-template-rows: minmax(auto, clamp(50px, 5vw, 70px)) 1fr;

      img {
        display: inline-block;
        object-fit: contain;
        height: 100%;
      }
    }
    p {
      margin-top: 1rem;

      font-size: clamp(14px, 2.5vw, 25.2px);
      font-weight: 100;
      letter-spacing: 1.94px;
    }
  }
}
