@import "../../variables";

.hero {
  height: calc(50vh - 4rem);
  background: url("../../assets/hero-picture.png") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero_search-container {
    max-width: 781px;
    width: 90vw;
    height: 222px;
    height: clamp(125px, 2.5vw, 222px);
    background: rgba(255, 255, 255, 0.88);
    margin: 0 auto;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    h3 {
      font-size: clamp(20px, 5vw, 35px);
      font-weight: 100;
      line-height: 1;
      letter-spacing: 1.97px;
      max-width: 480px;
    }

    form {
      max-width: 511px;
      width: clamp(80%, 2.5vw, 90%);

      .searchbar {
        &_input {
          height: clamp(33px, 2.5vw, 48px);
        }
      }
    }
  }
}

.hero__nav {
  height: 125px;
  opacity: 0.9;
  background: $gray-color;

  .hero__nav-container {
    height: 100%;
    display: flex;
    gap: 17px;
    justify-content: center;
    align-items: center;

    & > button {
      font-size: 13px;
      padding: 0.75rem 1rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .hero {
    height: calc(100vh - 4rem);
  }

  .hero__nav {
    display: none;
  }
}
