@import "../../variables";

.card {
  display: grid;
  grid-template-rows: max-content;
  max-width: 360px;
  background: $card-bg-color;
  text-align: center;

  &_img {
    object-fit: contain;
    img {
      width: 100%;
    }
  }

  &_content {
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-text {
      h3 {
        margin: 1rem auto 0.25rem auto;
      }

      p {
        font-size: 24px;
        font-weight: 100;
        line-height: 1.2;
        letter-spacing: 1.6px;
      }
    }

    &-dish {
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      .card_icon {
        width: 30px;
        height: 30px;
        margin: 1rem auto 1rem;

        img {
          display: block;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    &-price {
      display: grid;
      grid-template-columns: auto auto auto;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 1rem;

      .line {
        width: clamp(55px, 9vw, 100px);
        height: 1px;
        background: $card-line-bg-color;
      }
      p {
        margin: 0;

        span {
          font-size: clamp(14.3px, 2.5vw, 20px);
        }
      }
    }
  }
}
