form {
    .searchbar {
        position: relative;

        .searchbar_input {
            width: 100%;
            height: 34px;
            border-radius: 4px;
            border: solid 0.5px black;
            background: inherit;
        }

        .searchbar_icon {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 10px;
        }

        &.left {
            .searchbar_icon {
                left: 0;
            }
            .searchbar_input {
                padding: 0.5rem 1rem 0.5rem 2.5rem;
            }
        }

        &.right {
            .searchbar_icon {
                right: 0;
            }
            .searchbar_input {
                padding: 0.5rem 2.5rem 0.5rem 1rem;
            }
        }
    }
}
