.navbar {
  max-height: 45px;
  height: 4rem;

  &_container {
    display: none;
  }

  &__container2 {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;

    .navbar__left {
      display: flex;

      .navbar__logo {
        position: absolute;
        left: 50%;
        top: 6px;
        transform: translateX(-50%);
        width: 31px;
        height: 30px;
      }
    }

    .navbar__right {
      justify-self: end;
      display: flex;
      align-items: center;

      .navbar__btn-container {
        display: flex;
        gap: 26px;

        button {
          max-width: 18px;
          max-height: 18px;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  @media screen and (min-width: 992px) {
    max-height: 62px;
    &__container2 {
      display: none;
    }

    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar_container {
      display: grid;
      width: 100%;
      padding: 0 123px;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 2rem;

      .navbar_left {
        justify-self: start;
      }

      .navbar_right {
        justify-self: end;
        display: grid;
        grid-template-columns: minmax(auto, 350px) max-content;
        column-gap: 28px;

        form {
          max-width: 350px;
          width: 100%;
        }

        .navbar_btn-container {
          display: flex;
          gap: 28px;
          button {
            background: transparent;
            border: transparent;
            cursor: pointer;

            img {
              width: 24px;
              height: 24px;
            }
          }

          & > :first-child {
            display: none;
          }
        }
      }

      .navbar-sidemenu {
        display: none;
      }

      .navbar_links {
        display: flex;
        align-items: center;

        .img {
          width: 33px;
          height: 33px;
        }
        h1 {
          font-size: 27px;
          font-weight: 100;
          letter-spacing: 1.35px;
          margin-left: 1rem;
        }

        ul {
          margin-left: 31px;
          display: flex;
          gap: 28px;
          li {
            font-size: 18px;
            font-weight: 100;
            letter-spacing: 1.92px;
          }
        }
      }
    }
  }
}
