.navbar {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar_container {
        display: grid;
        grid-template-columns: auto auto 1fr auto;
        align-items: center;
        gap: 2rem;

        .navbar-sidemenu {
            display: none;
        }

        form {
            justify-self: end;
            max-width: 350px;
            width: 80%;
        }

        .navbar_header {
            display: flex;
            .img {
                width: 33px;
                height: 33px;
            }

            h1 {
                font-size: 27px;
                font-weight: 100;
                letter-spacing: 1.35px;
                margin-left: 1rem;
            }
        }

        .navbar_links {
            display: flex;
            gap: 0.8rem;

            li {
                font-size: 18px;
                font-weight: 100;
                letter-spacing: 1.92px;
            }
        }

        .navbar_btn-container {
            display: flex;
            gap: 1rem;
            button {
                background: transparent;
                border: transparent;
                cursor: pointer;

                img {
                    width: 24px;
                    height: 24px;
                }
            }

            & > :first-child {
                display: none;
            }
        }
    }

    @media screen and (max-width: 992px) {
        .navbar_container {
            grid-template-columns: repeat(3, 1fr);

            .navbar-sidemenu {
                display: block;
            }

            .navbar_header {
                justify-self: center;
                h1 {
                    display: none;
                }
            }

            .navbar_links {
                display: none;
            }

            .navbar_btn-container {
                justify-self: end;
                & > :first-child {
                    display: inline-block;
                }
            }

            form {
                display: none;
            }
        }
    }
}
