nav {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .nav-header {
    display: flex;
    .img {
      width: 33px;
      height: 33px;
    }

    h1 {
      font-size: 27px;
      font-weight: 100;
      letter-spacing: 1.35px;
      margin-left: 1rem;
    }
  }

  .nav-links {
    display: flex;
    gap: 0.8rem;

    li {
      font-size: 18px;
      font-weight: 100;
      letter-spacing: 1.92px;
    }
  }

  .nav-btn-container {
    display: flex;
    gap: 1rem;
    button {
      background: transparent;
      border: transparent;
      cursor: pointer;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
