.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-color: #fff;

  &__header {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 39px;

    &-icon {
      font-size: 16px;
    }
  }

  &__header-links {
    margin-top: 62px;
    ul {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      li {
        font-size: 20px;
        letter-spacing: 1.33px;
        text-align: center;
      }
    }
  }
}
