.title {
  text-align: center;
  font-size: clamp(14px, 2.5vw, 2rem);
  font-weight: 100;
  line-height: 1;
  letter-spacing: clamp(0.93px, 0.2vw, 2px);
  margin-bottom: 1rem;
}

.center {
  text-align: center;
}

.left {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .title {
    margin-bottom: 42px;
  }

  .left {
    text-align: left;
  }
}
