$font-family: HelveticaNeue-Thin;
$max-width: 1280px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90vw;
  max-width: $max-width;
  margin: 0 auto;
}

.padding-y {
  padding: 5rem 0;
}
