@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1.5rem;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.container {
  width: 90vw;
  max-width: $max-width;
  margin: 0 auto;
}

.padding-y {
  padding: 5rem 0;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
  display: inline-block;
}
